body,html{
         	font-family: 'Cabin', sans-serif;
         	margin:0;
         	height:100%;
         	background-image:url("../img/fondo.jpg");
         	background-repeat:no-repeat;
         	background-position:50% 0;
        background-size:450px 100%;	                 	
        }
        section{	                	
        	max-width:400px;
        	height:100%;
        	margin:auto;
        }
        .linea:hover{
          	background-color:orange;
        }	                  
      	.linea{
      		position:relative;
      		padding-left:4px;
      		box-sizing:border-box;
          font-size:1.0em;
          color:#c5431b;
      	}
      	.linea img{
      		position:absolute;
      		right:4px;
      		top:3px;
      	}
        #lista{
        	margin-top:1%;
        	border:1px solid gray;
        	border-radius:6px;
        	height:calc(100% - 122px);
        	width:100%;                    	
        	overflow:auto;
        	box-sizing:border-box;
        	padding:6px;
        }
        #producto{
        	margin-top:1%;
        	width:100%;
        	padding:8px;
        	box-sizing:border-box;
        	font-family: 'Cabin', sans-serif;
        	font-size:1.4em;
        	border:1px solid gray;
        	border-radius:3px;
        	outline:none;
        	color:crimson;
        }
        #boton1{
          font-family: 'Cabin', sans-serif;
          font-size:1.2em;
          width:30%;
          padding:8px;
          border-radius:10px;
          margin:1% 0;
          display:inline;
          cursor:pointer;
          background-color:crimson;
          color:white;
        }
		#boton2{
                   font-family: 'Cabin', sans-serif;
                   font-size:1.2em;
                   width:30%;
                   padding:8px;
                   border-radius:10px;
                   margin:1% 0;
                   display:inline;
                   cursor:pointer;
                   background-color:crimson;
                   color:white;

                 }
                 #boton3{
                           font-family: 'Cabin', sans-serif;
                           font-size:1.2em;
                           width:30%;
                           padding:8px;
                           border-radius:10px;
                           margin:1% 0;
                           display:inline;
                           cursor:pointer;
                           background-color:crimson;
                           color:white;

                         }
        ::-webkit-input-placeholder {
			text-align: left;
  			color:#ff5d2a;
		}
		:-moz-placeholder {
		   	text-align: center;
 			color:#ff5d2a;
		}
		::-moz-placeholder {
		   	text-align: center;
 			color:#ff5d2a;
		}
		:-ms-input-placeholder {  
		   	text-align: center;
 			color:#ff5d2a; 
		}